/* main.css */
body {
	font-family:arial;
	background-image: url(a1.jpg);
	

	}

div.wrapper{
	max-width: 1220px;
	margin: 0 auto;
	
}

header {
	background-image:url(fbanner.png);
	background-repeat: repeat;
	position: bottom;
	height: 125px;
	width: 100%;

	
	}
	
header h1{
	font-family: 'Love Ya Like A Sister', georgia;
	letter-spacing: 4px;
	font-size : 72px;
	padding-top: .5em;
	padding-left: .5em;
	
	}
header h2{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	letter-spacing: 4px;
	font-size : 45px;
	padding-top: .5em;
	padding-left: .5em;
	font-style:normal ;
	
	
	}	
nav ul{
	margin:0;
	padding:0;
	}

nav ul li {
	list-style: none;
	float:left;
	font-size:93%;
}

nav ul li a {
	display: block;
	font-weight: bold;
	padding: .625em 3em; /* 10px 15px */
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
    background-color: gray;
	
}
li a:hover {
    background-color: violet;
}
img { max-width: 100% }

#col1{
	float:left;
	width:25%;
	margin:1em 1em 1em 2em;
}

#col2 {
	float: left;
	width: 25%;
	margin: 1em 0 0 0;
}

#col3{
	float: left;
	width: 30%;
	margin: 1em 2em 0 0;
	margin-left:10%;
	}


#col8{
	text-decoration:none;

	float: right; 
	width: 30%;
	margin-top: 4em;
	margin-left: auto;
	margin-bottom: 8em;	
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.member_frm {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.row {
	clear: both;
}

.col {
	float: left;
	width:60%;
}

label {
	
	width: auto;
	float: left;
	text-align: right;
	margin-right: 0.5em;
}
.thirty-year {
	margin-top:auto;
}
.history-image{
margin-top:auto;
}



#col01{
	float:left;
	width:50%;
	margin:1em 1em 1em 2em;
	}

#col001 {
	float: left;
	width: 40%;
	margin-top: 6em;
	margin-left:4em;
}

#col02 {
	float: left;
	width: auto;
	margin-left:4em;
	text-align:justify;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
#col03 {
	float: left;
	width: 30%;
	margin-left:4em;
}
#col04 {
	float: left;
	width: 60%;
	text-align:justify;
}

#col05{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:18px;
	float:left;
	width:auto;
	margin:1em 1em 1em 2em;
	background-color: #f2f2f2;
	padding-left: 10px;
	}

#col06 {
	float: left;
	width: 65%;
	background-color: #f2f2f2;
	
}
#col07 {
	float:right;
	width: 25%;
	
	margin-left:4em;
}
#col08{
	background-color: #f2f2f2}
	
.events{
	background:#E5E4E4;
}

.event2 {
	background:#E5E4E4;
	float: left;
	width:90%;
	margin-top:em;
}

.event3{
	background:#E5E4E4;
	float: left;
	width:90%;
	margin-top:em;
}
.event4{
	background:#E5E4E4;
	float: left;
	width:90%;
	margin-top:em;
}
.event5{
	background:#E5E4E4;
	float: left;
	width:90%;
	margin-top:em;
}
.tickets{
	background:#E5E4E4;
	text-align:center;
	float:left;
	width:90%;
	margin-top:em;
	margin-bottom:3em;
}
#e1{
	float:left;
	width:30%;
	margin:1em 1em 1em 2em;
	}

#e2 {
	float: left;
	width: 60%;
	
}

#e3{
	float:left;
	width:30%;
	margin:1em 1em 1em 2em;
	}

#e4 {
	float: left;
	width: 60%;
	
}

#e5{
	float:left;
	width:30%;
	margin:1em 1em 1em 2em;
	}

#e6 {
	float: left;
	width: 60%;
	
}

#e7{
	float:left;
	width:30%;
	margin:1em 1em 1em 2em;
	}

#e8 {
	float: left;
	width: 60%;
	
}
#e9{
	float:left;
	width:30%;
	margin:1em 1em 1em 2em;
	}

#e10 {
	float: left;
	width: 60%;
	
}
footer {
		clear: both;
}

footer h3 {
	font-family:-webkit-pictograph;
	background-color:pink;
	padding: .5em 0 .5em .5em;
	background-repeat: repeat-x;
	position: bottom;
	text-align: center;
	
}
.fa {
		display: block;
	font-weight: bold;
	padding: .625em 3em; /* 10px 15px */
	text-decoration: none;
	color: #000;
	border-right: 1px solid #bababa;
    background-color:#1B6DDC;
	
 
}


